body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3b3c3c;
}

#stage {
    border: 2px solid #000;
    display: block;
    margin: auto;
}

#game_over {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 12px black;
    font-family: "Flappy", sans-serif;
    font-size: 40px;
    color: white;
    width: 250px;
    height: 100px;
    background-color: rgb(56, 55, 55);
    margin: auto;
    display: none;
}

button{
    color: white;
    border-radius: 10px;
    background-color:rgb(56, 55, 55);
}
